<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis Comidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mis Comidas</ion-title>
    </ion-toolbar>
  </ion-header>

<div class="ion-text-center">
  <ion-card>
    <ion-card-title>
      <h3>Bienvenido:</h3>
    </ion-card-title>
    <ion-card-content>
      <ion-item>
        <ion-input label="Username" label-placement="fixed" [(ngModel)]="username" type="text" maxlength="8" minlength="3" placeholder="Ingrese su username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Password" label-placement="fixed" [(ngModel)]="password" type="password" maxlength="4" placeholder="Ingrese su password"></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-button expand="block" ng-click="conectar()" (click)="conectar()">Ingresar</ion-button>
    <ion-button expand="block" ng-click="registrarse()" (click)="registrarse()">Registrarse</ion-button>
  </ion-card>
</div>
</ion-content>
