<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Platos Sugeridos</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
      <ion-header collapse="condense">
          <ion-toolbar>
              <ion-title size="large">Test</ion-title>
          </ion-toolbar>
      </ion-header>
  
      <ion-fab slot="fixed" vertical="bottom" horizontal="start">
        <ion-fab-button (click)="volver()">
            <ion-icon name="caret-back-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      
      <ion-card>
          <ion-card-content>
              Aquí tienes una lista de platos <b><i>puedes elegir</i></b> según corresponda:
          </ion-card-content>
          <h3>Desayuno:</h3>
          <ion-list>
              <ion-item>
                  <ion-label>Una fruta (Pera o manzana)</ion-label>
              </ion-item>
              <ion-item>
                  <ion-label>Cereales (Escoger  uno): 1/2 taza de cereal, o 2 masas pequeñas de fajita, 2 rebanadas de pan de molde integral, acompañamiento: mermelada, queso fresco</ion-label>
              </ion-item>
              <ion-item>
  
                  <ion-label>Lácteos (sin lactosa) 1 yogurt, o una taza de leche</ion-label>
              </ion-item>
              <ion-item>
  
                  <ion-label>Otros: Café descafeinado, té verde, té de manzanilla</ion-label>
  
              </ion-item>

              
              
          </ion-list>
  
          <h3>Almuerzo:</h3>
          <ion-list>
              <ion-item>
                  <ion-label>Cereales (Escoger uno): 1 taza de arroz integral, 1 taza de pasta integral, 1 papa, 1 masa de fajita grande</ion-label>
              </ion-item>
              <ion-item>
                  <ion-label>Proteína (Escoger una): 1 taza de carne de soja con champiñones, 1 taza de carne de soja con verduras, 2 huevos (sin yema), 1.5 taza de legumbres, o alguna de las carnes mencionadas en las comidas permitidas, preparadas al horno o plancha</ion-label>
              </ion-item>
              <ion-item>
  
                  <ion-label>Ensalada a libre elección, según lista</ion-label>
              </ion-item>
  

              
          </ion-list>
  
          <h3>Cena u once:</h3>
          <ion-list>
              <ion-item>
                  <ion-label>Cereales (Elegir uno): 4 rebanadas de pan integral, 2 pan pita, 2 fajitas medianas </ion-label>
              </ion-item>
              <ion-item>
                  <ion-label>Proteinas (Elegir una): Quesillo, huevo</ion-label>
              </ion-item>
              <ion-item>
  
                  <ion-label>Verdura: Tomate (sin semillas) para acompañar el pan, 1/2 taza de zanahoria</ion-label>
              </ion-item>

              
          </ion-list>

          <h3>Snacks para colación:</h3>
          <ion-list>
              <ion-item>
                  <ion-label>Lácteos sin lactosa: yogurt, o leche</ion-label>
              </ion-item>
              <ion-item>
                  <ion-label>Frutas (Escoger una): Manzana, pera</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>3 cucharadas de maní</ion-label>
            </ion-item>
          </ion-list>
  

          <h3>Extras y sugerencias:</h3>
          <ion-list>
              <ion-item>
                  <ion-label>Tomar una colación a media mañana o media tarde</ion-label>
              </ion-item>
              <ion-item>
                  <ion-label>Consumir media zanahoria en caso de reflujo</ion-label>
              </ion-item>
          </ion-list>

      </ion-card>
  </ion-content>